
body{
	padding:20px;
}
#checkers{
	width: 400px;
	margin: 10px auto;
    position: relative;
}
.cell{
	border:1px solid;
	width: 46px;
	height: 46px;
	margin:1px;
	float:left;
}

.cell.blk {
    background-color: #BB6633;
}

.cell.blk.hl-cell {
    background-color: #995533;
}

.piece{
    width:50px;
    height:50px;
    background-image:url("/assets/images/checkers.png");
    background-repeat: no-repeat;
    position:absolute;
    background-size: 100px 50px;
    z-index:1;
}
.red{
    background-position:0 0;
}
.blk{
    background-position:-50px 0;
}
#output {
    height: 300px;
    overflow: scroll;
    clear: both;
}
#messages {
    padding-left: 20px;
    height: 400px;
    overflow: scroll;
}

.piece.ui-draggable {
    cursor: pointer;
}

.piece.ui-draggable.ui-draggable-disabled {
    cursor: default;
}

.piece.ui-draggable .marker {
    width: 10px;
    height: 10px;
    margin: 20px;
    background-color: #66BB66;
}

.piece.ui-draggable-disabled .marker {
    visibility: hidden;
}
